html, body {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: #212121;
  width: 260px;
  text-align: center;
  user-select: none;
}

header {
  padding: 2px;
  margin:0px auto; 
  color: #F5F5F5;
  background-color: #29487d; 
}

section {
  background-color: #F5F5F5;
  padding: 4px;
}

select {
  margin: 4px;
}

table {
  font-size: 12px;
}